.step-card-index {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  background: $c-main;
  color: #FFFFFF;
  font-weight: 900;
  font-size: 20px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.01em;
  margin: -28px auto 11px;
}