@import "utils/vars";
@import "utils/mixins";
@import "utils/normalize";
@import "utils/reset";
@import "utils/fonts";
@import "utils/base";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;

  &:after, &:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
}

//@import "../css/style.css";
@import "button/button-main";
@import "button/button-main";
@import "footer/footer";
@import "footer/footer-content";
@import "grid/page-section";
@import "grid/page-content";
@import "grid/page-col";
@import "grid/page-row";
@import "header/header";
@import "header/header-content";
@import "main/main";
@import "section/section";
@import "section/section-title";
@import "section/section-subtitle";
@import "section/section-title--subtitle";
@import "section/section-button";
@import "section/section-empty";
@import "wrapper/wrapper";
@import "banner/banner";
@import "menu/main-menu-list";
@import "menu/main-menu-item";
@import "menu/main-menu-link";
@import "menu/main-menu-nav";
@import "language/main-language";
@import "language/main-language-title";
@import "language/main-language-dropdown";
@import "language/main-language-item";
@import "language/main-language-link";
@import "media-box/media-box";
@import "media-box/media-box-img";
@import "media-box/media-box-title";
@import "soc-net/main-soc-net";
@import "soc-net/main-soc-net-list";
@import "soc-net/main-soc-net-item";
@import "soc-net/main-soc-net-link";
@import "address/main-address-item";
@import "address/main-address";
@import "personal-card/personal-card";
@import "personal-card/personal-card-img";
@import "personal-card/personal-card-data";
@import "personal-card/personal-card-info-box";
@import "personal-card/personal-card-title";
@import "personal-card/personal-card-soc-net";
@import "personal-card/personal-card-coupled";
@import "personal-card/personal-card-coupled-img";
@import "media-content/media-content";
@import "subsection-title/subsection-title";
@import "main-logo/main-logo";
@import "slide/slide";
