.section-title {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  font-size: 42px;
  line-height: 42px;
  margin: 28px 0 28px;
  color: $c-main;
  font-weight: bold;
  text-transform: uppercase;

  @media (max-width: 1024px) {
    font-size: 36px;
    line-height: 36px;
  }

  @media (max-width: 767px) {
    font-size: 34px;
    line-height: 34px;

    & .section-title__text {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &_big {
    font-size: 48px;
    line-height: 54px;
    font-weight: 900;

    @media (max-width: 1024px) {
      font-size: 36px;
      line-height: 36px;
    }

    @media (max-width: 767px) {
      font-size: 34px;
      line-height: 34px;
    }
  }
  
  &_center {
    & .section-title__text {
      display: block;
      width: 100%;
      text-align: center;
    }
  }

  &__link {
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    color: $c-main;
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid currentColor;
    text-decoration: none;
    transition: 150ms;

    &:hover {
      border-bottom: 2px solid transparent;
    }
  }
}