.subsection-title {
  font-weight: 900;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #2E2E2E;
  padding: 0 0 20px;
  border-bottom: 2px solid currentColor;
  margin: 0 0 30px;

  @media (max-width: 767px) {
    text-align: center;
  }
}

.subsection {
  margin: 0 0 20px;
}