.button-main {
  @include button;
  border-color: $c-main;
  color: $c-main;

  &:hover, &:focus, &:active {
    background: $c-main;
    color: #fff;
  }
}

.button-long {
  @include button;
  border-color: $c-main;
  color: #fff;
  background: $c-main;
  padding: 0 40px;

  &:hover, &:focus, &:active {
    background: #000;
    color: #fff;
  }

  @media (max-width: 420px) {
    width: 100%;
  }
}

.btn-desktop {
  display: block;

  @media (max-width: 767px) {
    display: none!important;
  }
}

.btn-mob {
  display: none;

  @media (max-width: 767px) {
    display: block!important;
  }
}