.personal-card-soc-net {
  margin: 11px 0 0;
  text-align: center;
  
  &__inner {
    display: inline-block;
    vertical-align: top;
  }

  & a {
    display: block;
    width: 18px;
    height: 18px;
    margin: 0 8px 0 0;

    &:last-child {
      margin: 0;
    }

    & svg {
      width: 100%;
      height: auto;
    }
  }
}