// Font
$f-g: 'Gotham Pro', sans-serif;

// Size
$contentWidth            : 1110px;

$smDesktopWidth          : 1260px;
$tableWidth              : 1151px;
$smtableWidth            : 1023px;
$xtableWidth             : 992px;
$phoneWidth              : 767px;
$smPhoneWidth            : 420px;

// Main color
$c-bg-main: #050505;
$c-bg-section: #0D0D0D;
$c-bg-section-dark: #050505;
$c-bg-header: #121212;
$c-main: #EB008B;