.main-soc-net-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;

  & svg {
    flex-shrink: 0;

    & path {
      transition: 150ms;
    }
  }

  &:hover {
    & svg path {
      fill: $c-main;
    }
  }
}